.board-container {
  display: flex;
  justify-content: center;
}

.square {
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3em;
  font-weight: bold;
  color: darkgray;
  background-color: azure;
}

.status {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}